.top-bar {
    margin-top: 155px;
}
.reg-text{
    width: 80%;
    text-align: center;
    color: gray;
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0px;
}

.login-with-fb-register{
    text-decoration: none;
    padding: 5px 0px;
    width: 80%;
    text-align: center;
    background-color: #0095F6;
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;

    &:hover {
        color: white;
    }
}

.reg-form-text{
    font-size: 13px;
    font-weight: 300;
    color: gray;
    width: 80%;
    text-align: center;

    a{
        text-decoration: none;
        font-weight: 500;
        color: gray;
    }
}